// app global css in SCSS form
.widhtModal{
  width: 120vw;
}

.main{
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 2px 2px 11px 0px rgba(87, 87, 87, 0.51);
}

.backStyle{
  background-color: rgb(238, 238, 238);
}
